.App {
	text-align: center;
}

.backimg{
	background-image: url('');
}

#login{
	background: center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url('../src/assets/login_bg.svg');
}